// COLORS
$light-green-color:#7ed56f;
$light-green-color-obacity-8:rgba(126, 213, 111, 0.8);
$medium-green-color:#55c57a;
$dark-green-color:#28b485;
$light-blue-color:rgb(75, 75, 219);
$dark-blue-color:rgb(21, 21, 148);
$white-color:#fff;
$small-text-color:#777;
$dark-green-color-obacity-8:rgba(40, 180, 133, 0.8);
$color-black:#000;
$color-grey-dart-2:#9999;
$color-grey-light-1:#f7f7f7;
$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;
$color-grey-light-2:#eee;

// FONTS
$default-font-size:1.6rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
