.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        $light-green-color-obacity-8,
        $dark-green-color-obacity-8),
        url("../img/hero-small.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0% 100%);
    position: relative;

  

    // @media (min-resolution:192dpi) and (min-width:37.5em), (min-width:125em) {
    //     background-image: linear-gradient(to right bottom,
    //     rgba($color-orange-light,0.8),
    //     rgba($color-orange-dark,0.8)),
    //     url("../img/hero.jpg");
    // }

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);

    }
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
        @include respond(phone) {
         top: 2rem;
         left: 2rem;   
        }
    }
    &__logo {
        height: 3rem;
        @include respond(phone) {
         height: 2rem;   
        }
    
    }
    &__text-box {
        position:absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
        
    }
}