.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius:10rem;
        display: inline-block;
        transition: all 0.4s;
        position: relative;
        font-size: $default-font-size;

        //Change For the <button> element
        border: none;
        cursor: pointer;
    }
    &:hover,
    &:focus {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            transform: scaleX(1.5) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: -1;
        transition:all 0.4s;
    }
   
    &--animated {
        animation: moveInBtn 2s ease-out 1s;
        animation-fill-mode: backwards;
    }
    &--white {
        background-color: $white-color;
        color: $small-text-color;
        &::after {
            background-color: $white-color;
        }
    }
    &--green {
        background-color: $dark-green-color;
        color: $white-color;
        &::after {
            background-color: $dark-green-color;
        }
    }
}
// Text Button
.btn-text {
    &:link,
    &:visited {
        color: $dark-green-color ;
        display: inline-block;
        text-decoration: none;
        border-bottom: 0.1rem solid $dark-green-color;
        padding: 0.5rem;
        transition: 0.2s;
        font-size: $default-font-size;
        transition: all 0.2s;
    }
    &:hover {
        color: $white-color;
        background-color: $dark-green-color;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);
    } 
    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(0);
    
    }
}

