.card {
    
    //FUNCTIONALTI
    perspective: 150rem;
    -moz-perspective: 50rem;
    position: relative;
    height: 48rem;
    &__side {
        height: 48rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $white-color
        }
        &--back {
            text-align: center;
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom,  
                rgba($color-orange-light,0.85),
                rgba( $color-orange-dark,0.85));
            }
            &-2 {
                background-image: linear-gradient(to right bottom,  
                rgba($light-green-color,0.85),
                rgba($dark-green-color,0.85));
            }
            &-3 {
                background-image: linear-gradient(to right bottom,  
                rgba($light-blue-color,0.85),
                rgba($dark-blue-color,0.85));
            }
        }
        
    }
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
    //FRONT SIDE STYLE
    &__picture {
        height: 20rem;
        margin-top: -2rem;
        background-size: cover;
        background-blend-mode: screen;
        transform: skewY(-2deg);
        &--1 {
            background-image: linear-gradient(to right bottom,  $color-orange-light,$color-orange-dark
            ), url(../img/nat-5.jpg);
        }
        &--2 {
            background-image: linear-gradient(to right bottom,
              $light-green-color,
              $dark-green-color
            ), url(../img/nat-6.jpg);
        }
        &--3 {
            background-image: linear-gradient(to right bottom,
            $light-blue-color,
            $dark-blue-color
            ), url(../img/nat-7.jpg);
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $white-color;
        position: absolute;
        top: 10rem;
        right: 2rem;
        width: 75%;
        
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1{
            background-image: linear-gradient(to right bottom,
             rgba($color-orange-light,0.85),
             rgba($color-orange-dark,0.85));
        }
        &--2{
            background-image: linear-gradient(to right bottom,
             rgba($light-green-color,0.85),
             rgba($dark-green-color,0.85));
        }
        &--3{
            background-image: linear-gradient(to right bottom,
             rgba($light-blue-color,0.85),
             rgba($dark-blue-color,0.85));
        }

    }
    
    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
            text-align: center;
            color: $small-text-color;
            font-size: 1.5rem;
            padding: 1rem;
            &:not(:last-child){
                border-bottom: 1px solid $color-grey-light-2;
            }
            }
        }
    } 
//BACK SIDE STYLE
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      .btn {
        &:link,
        &:visited {
            font-size: 1.4rem;
            width: 20rem;
        }
      }
    }
    &__price-box {
        text-align: center;
        color: $white-color;
        margin-bottom: 8rem;
    }
    &__price-only {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 6rem;
        font-weight: 200;
    }


}

