.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        position: absolute;
        transition: transform 0.2s;
        z-index: 20;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
   
        }
        &:hover {
            padding: 1rem;
            transform: scale(1.07) translateY(-5rem);
            border: 1rem solid $dark-green-color;
            box-shadow: 0 2.5rem 4 rem rgba($color-black,0.4);
            z-index: 30;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }

}