.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
        @include respond(phone) {
            margin-bottom: 0rem;        
        }
    }
    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($white-color,0.5);
        border: none;
        font-family:inherit;
        display: inline-block;
        width: 100%;
        border-bottom: 3px solid transparent;

        @include respond(tab-port){
            width: 100%;
        }
        &:focus {
            outline: none;
            border-bottom: 3px solid $dark-green-color;
            box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.1);
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-orange-dark;
        }
        &::-webkit-input-placeholder {
            color: $color-grey-dart-2 ;
        }
    }

    &__lable{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }
    &__input:placeholder-shown + &__lable{
        opacity: 0;
        transform: translateY(-4rem);
    }
    &__input:invalid{
        opacity: 1;
    }
    &__radio-group {
        width: calc(50% - 1rem);
        display: inline-block;
        @include respond(tab-port){
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    &__radio-input {
        display: none;
    }
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;

    }
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $dark-green-color;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -0.5rem;
        left: 0;

        &::after {
            content: "";
            height: 1rem;
            width: 1rem;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $dark-green-color;
            opacity: 0;
            transition: opacity 0.2s;
        }
       
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}