.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-features {
    padding: 20rem 0 ;
    background-image: linear-gradient(to right bottom,
    $light-green-color-obacity-8,
    $dark-green-color-obacity-8),
    url("../img/nat-4.jpg");
    background-size: cover; 
    margin-top: -10rem;
    transform: skewY(-7deg);
    & > * {
        transform: skewY(7deg);
    }
}
.section-most-popular {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0 ;
    margin-top: -10vh;
}
.section-stories {
    padding: 15rem 0;
    position: relative;
    
}
.section-booking {
    background-image:linear-gradient(to right bottom, $light-green-color-obacity-8,
    $dark-green-color-obacity-8) ;
    padding: 15rem  0 ;
}
.book {
    background-image: linear-gradient(105deg ,
     rgba($white-color,0.9 )0%,
     rgba($white-color,0.9 )50%,
     transparent 0% ) 
    ,url(../img/nat-10.jpg);
    background-size: 100%;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.2);
    &__form {
        width: 50%;
        padding: 6rem;
    }
}
