.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-features {
    padding: 20rem 0 ;
    background-image: linear-gradient(to right bottom,
    $light-green-color-obacity-8,
    $dark-green-color-obacity-8),
    url("../img/nat-4.jpg");
    background-size: cover; 
    margin-top: -10rem;
    transform: skewY(-7deg);
    & > * {
        transform: skewY(7deg);
    }
}
.section-most-popular {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0 ;
    margin-top: -10vh;
}
.section-stories {
    padding: 15rem 0;
    position: relative;
    
}